<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                
                <li class="nav-item">
                <a class="nav-link menu-link" href="@Url.Action("Index", "Home")" role="button"
                   aria-expanded="false" aria-controls="sidebarDashboards">
                    <i class="bx bx-home"></i> <span data-key="t-home">Trang chủ</span>
                </a>
            </li>

                <li class="nav-item">
                <a class="nav-link menu-link" href="#"
                   role="button" aria-expanded="false" aria-controls="sidebarApps">
                    <i class="ri-file-paper-2-line"></i> <span data-key="t-intro">Giới thiệu</span>
                </a>
            </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarAuth">
                        <i class="ri-account-circle-line"></i> <span data-key="t-stationary">Văn phòng phẩm</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#sidebarSignIn" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                    Sign In
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSignIn">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignInBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignInCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarSignUp" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                    Sign Up
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSignUp">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignUpBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignUpCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarResetPass" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarResetPass" data-key="t-password-reset">
                                    Password Reset
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarResetPass">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordResetBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordResetCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarchangePass" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false"
                                   aria-controls="sidebarchangePass" data-key="t-password-create">
                                    Password Create
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarchangePass">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordChangeBasic", "Authentication")" class="nav-link" data-key="t-basic">
                                                Basic
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordChangeCover", "Authentication")" class="nav-link" data-key="t-cover">
                                                Cover
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarLockScreen" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarLockScreen" data-key="t-lock-screen">
                                    Lock Screen
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLockScreen">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("LockScreenBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("LockScreenCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarLogout" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarLogout" data-key="t-logout">
                                    Logout
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLogout">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("LogoutBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("LogoutCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarSuccessMsg" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSuccessMsg" data-key="t-success-message">
                                    Success Message
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSuccessMsg">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SuccessMessageBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SuccessMessageCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarTwoStep" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarTwoStep" data-key="t-two-step-verification">
                                    Two Step Verification
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarTwoStep">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("TwoStepVerificationBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("TwoStepVerificationCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarErrors" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarErrors" data-key="t-errors">
                                    Errors
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarErrors">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Basic", "Authentication")" class="nav-link" data-key="t-404-basic"> 404 Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Cover", "Authentication")" class="nav-link" data-key="t-404-cover"> 404 Cover </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Alt", "Authentication")" class="nav-link" data-key="t-404-alt"> 404 Alt </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors500", "Authentication")" class="nav-link" data-key="t-500"> 500 </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Offline", "Authentication")" class="nav-link" data-key="t-offline-page"> Offline Page </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarPages" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarPages">
                        <i class="ri-pages-line"></i> <span data-key="t-mamnon">Đồ dùng mầm non</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarPages">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("Starter", "Pages")" class="nav-link" data-key="t-starter"> Starter </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarProfile" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarProfile" data-key="t-profile">
                                    Profile
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarProfile">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("ProfileSimple", "Pages")" class="nav-link" data-key="t-simple-page"> Simple Page </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("ProfileSettings", "Pages")" class="nav-link" data-key="t-settings"> Settings </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Team", "Pages")" class="nav-link" data-key="t-team"> Team </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Timeline", "Pages")" class="nav-link" data-key="t-timeline"> Timeline </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("FAQs", "Pages")" class="nav-link" data-key="t-faqs"> FAQs </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Pricing", "Pages")" class="nav-link" data-key="t-pricing"> Pricing </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Gallery", "Pages")" class="nav-link" data-key="t-gallery"> Gallery </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Maintenance", "Pages")" class="nav-link" data-key="t-maintenance"> Maintenance </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("ComingSoon", "Pages")" class="nav-link" data-key="t-coming-soon"> Coming Soon </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Sitemap", "Pages")" class="nav-link" data-key="t-sitemap"> Sitemap </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("SearchResults", "Pages")" class="nav-link" data-key="t-search-results"> Search Results </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("PrivacyPolicy", "Pages")" class="nav-link"><span data-key="t-privacy-policy">Privacy Policy</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("TermConditions", "Pages")" class="nav-link"><span data-key="t-term-conditions">Term & Conditions</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLanding" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLanding">
                        <i class="ri-rocket-line"></i> <span data-key="t-toy">Đồ chơi</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLanding">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Landing")" class="nav-link" data-key="t-one-page"> One Page </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("NFTLanding", "Landing")" class="nav-link" data-key="t-nft-landing"> NFT Landing</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Job", "Landing")" class="nav-link"><span data-key="t-job">Job</span> <span class="badge badge-pill bg-success" data-key="t-new">New</span></a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarUI" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarUI">
                        <i class="las la-book-open"></i> <span data-key="t-book">Sách & Truyện</span>
                    </a>
                    <div class="collapse menu-dropdown mega-dropdown-menu" id="sidebarUI">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Alerts", "BaseUI")" class="nav-link" data-key="t-alerts">Alerts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Badges", "BaseUI")" class="nav-link" data-key="t-badges">Badges</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Buttons", "BaseUI")" class="nav-link" data-key="t-buttons">Buttons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Colors", "BaseUI")" class="nav-link" data-key="t-colors">Colors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Cards", "BaseUI")" class="nav-link" data-key="t-cards">Cards</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Carousel", "BaseUI")" class="nav-link" data-key="t-carousel">Carousel</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Dropdowns", "BaseUI")" class="nav-link" data-key="t-dropdowns">Dropdowns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Grid", "BaseUI")" class="nav-link" data-key="t-grid">Grid</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Images", "BaseUI")" class="nav-link" data-key="t-images">Images</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Tabs", "BaseUI")" class="nav-link" data-key="t-tabs">Tabs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AccordionCollapse", "BaseUI")" class="nav-link" data-key="t-accordion-collapse">Accordion & Collapse</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Modals", "BaseUI")" class="nav-link" data-key="t-modals">Modals</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Offcanvas", "BaseUI")" class="nav-link" data-key="t-offcanvas">Offcanvas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Placeholders", "BaseUI")" class="nav-link" data-key="t-placeholders">Placeholders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Progress", "BaseUI")" class="nav-link" data-key="t-progress">Progress</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Notifications", "BaseUI")" class="nav-link" data-key="t-notifications">Notifications</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Mediaobject", "BaseUI")" class="nav-link" data-key="t-media-object">Media object</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("EmbedVideo", "BaseUI")" class="nav-link" data-key="t-embed-video">Embed Video</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Typography", "BaseUI")" class="nav-link" data-key="t-typography">Typography</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Lists", "BaseUI")" class="nav-link" data-key="t-lists">Lists</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("General", "BaseUI")" class="nav-link" data-key="t-general">General</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Ribbons", "BaseUI")" class="nav-link" data-key="t-ribbons">Ribbons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Utilities", "BaseUI")" class="nav-link" data-key="t-utilities">Utilities</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarLayouts" role="button"
                   aria-expanded="false" aria-controls="sidebarLayouts">
                    <i class="ri-layout-3-line"></i> <span data-key="t-contact">Liên hệ</span> 
                </a>
            </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarNews" role="button"
                       aria-expanded="false" aria-controls="sidebarNews">
                        <i class="ri-layout-3-line"></i> <span data-key="t-news">Tin tức</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>